{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": "@kaizentech/typescript-base",
  "rules": {
    "no-underscore-dangle": "off",
    "@typescript-eslint/naming-convention": "off"
  }
}
